<div class="main">
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				<h1>контакты</h1>
				<p>Компания «Семейные традиции» находится в историческом центре города на одной из первых улиц Харьковской крепости:</p>
			</div>
		</div>
	</div>
	<div class="row contacts-list">
		<div class="small-12 medium-6 large-3 columns">
			<div>
				<p class="list-title">АДРЕС</p>
				<div class="contact-block">
					<p>Украина, г. Харьков, ул.Университетская 2</p>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div>
				<p class="list-title">ТЕЛЕФОН 1</p>
				<div class="contact-block">
					<a href="tel:+38 (057) 71 49 537">+38 (057) 71 49 537</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div>
				<p class="list-title">ТЕЛЕФОН 2</p>
				<div class="contact-block">
					<a href="tel:+38 (057) 71 49 537">+38 (057) 71 49 537</a>
				</div>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div>
				<p class="list-title">E-MAIL</p>
				<div class="contact-block">
					<a href="mailto:info@familytraditions.com.ua">info@familytraditions.com.ua</a>
				</div>
			</div>
		</div>
	</div>
	<div class="row our-team">
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
		<div class="small-12 medium-6 large-3 columns">
			<div class="img-holder"><img src="../images/contacts1.jpg" alt=""></div>
			<div class="team-mate">
				<p class="name">Гризунова Светлана</p>
				<p class="status">директор</p>
				<ul>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 18 36</a></li>
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 714 95 37</a></li> 
					<li><a href="tel:(38 057) 719 95 08">тел.: (38 057) 719 95 08</a></li>
					<li><a href="mailto:svetlana@familytraditions.com.ua">svetlana@familytraditions.com.ua</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>