<div class="dialog-wrap js_dialog js_modal-read">
	<div class="dialog-content modal-read">
		<p class="modal-title">Расписание на Fashion Weeks Spring / Summer 2016</p>
		<ul class="time-sheeld">
			<li>
				<p>Неделя моды в Нью-Йорке Весна-Лето 2016</p>
				<p><strong>Период:</strong> 10-17 сентября 2015</p>
			</li>
			<li>
				<p>Неделя моды в Нью-Йорке Весна-Лето 2016</p>
				<p><strong>Период:</strong> 10-17 сентября 2015</p>
			</li>
			<li>
				<p>Неделя моды в Нью-Йорке Весна-Лето 2016</p>
				<p><strong>Период:</strong> 10-17 сентября 2015</p>
			</li>
			<li>
				<p>Неделя моды в Нью-Йорке Весна-Лето 2016</p>
				<p><strong>Период:</strong> 10-17 сентября 2015</p>
			</li>
		</ul>

	</div>
	<span class="dialog-close js_close"><i class="icon-close"></i></span>
</div>
<div class="dialog-overlay"></div>