<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAMILY TRADITIONS | Welcome</title>
	<!--STYLES-->
	<link rel="stylesheet" href="../css/jquery-ui.css" />
    <link rel="stylesheet" href="../css/style-index.css" />
    <link rel="stylesheet" href="../css/menu.css" />

	<!--SCRIPTS-->
	<script type="text/javascript" src="../js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../js/app/index-script.min.js"></script>
</head>