<ul id="main-menu" class="main-menu">
	<li>
		<img src="../images/main-menu/menu1.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">КУДА?</p>
			<p class="sect-descr">Куда бы вы хотели отправиться?</p>
		</div>
		<ul class="sub-menu">
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Восточная Европа</span>
					</span>
				</a>
			</li>
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Западная Европа</span>
					</span>
				</a>
			</li>
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Африка Индийский океан</span>
					</span>
				</a>
			</li>
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Азия Ближний Восток</span>
					</span>
				</a>
			</li>
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Новая Зеландия Австралия Океания</span>
					</span>
				</a>
			</li>
			<li>
				<a href="where.html" title="">
					<span>
						<span><i class=""></i>Америка Карибский бассейн</span>
					</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<img src="../images/main-menu/menu2.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">КОГДА И ЗАЧЕМ?</p>
			<p class="sect-descr">В каком месяце вы бы хотели путешествовать?</p>
		</div>
		<ul class="sub-menu">
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-january"></i><span>Январь</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-february"></i><span>Февраль</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-march"></i><span>Март</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-april"></i><span>Апрель</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-may"></i><span>Май</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-june"></i><span>Июнь</span></span>
					</span>
				</a>
			</li>
						<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-july"></i><span>Июль</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-august"></i><span>Август</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-september"></i><span>Сентябрь</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-october"></i><span>Октябрь</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-november"></i><span>Ноябрь</span></span>
					</span>
				</a>
			</li>
			<li>
				<a href="when.html" title="">
					<span>
						<span><i class="icon-december"></i><span>Декабрь</span></span>
					</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<img src="../images/main-menu/menu3.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">ПО МОРЮ</p>
			<p class="sect-descr">Путешествие по морю: на яхте или круиз</p>
		</div>
		<ul class="sub-menu">
			<li>
				<a href="sea.html" title="">
					<span>
						<span><i class=""></i>Яхты</span>
					</span>
				</a>
			</li>
			<li>
				<a href="sea.html" title="">
					<span>
						<span><i class=""></i>Круизы</span>
					</span>
				</a>
			</li>
		</ul>
	</li>
	<li>
		<img src="../images/main-menu/menu4.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">ПУТЕШЕСТВИЕ КАК ПОДАРОК</p>
			<p class="sect-descr">Что может быть лучше, чем путешествие в подарок?</p>
			<a href="text.html" title="ПУТЕШЕСТВИЕ КАК ПОДАРОК"></a>
		</div>
	</li>
	<li>
		<img src="../images/main-menu/menu5.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">ВАМ БИЛЕТИК</p>
			<p class="sect-descr">Мы обеспечим вас любыми билетами: на поезд, автобус и самолет</p>
			<a href="text.html" title="ВАМ БИЛЕТИК"></a>
		</div>
	</li>
	<li>
		<img src="../images/main-menu/menu6.jpg" alt="" />
		<div class="inner-text">
			<p class="as-h2">ПОЧЕМУ МЫ?</p>
			<p class="sect-descr">Узнайте почему вы должны выбрать именно нас!</p>
		</div>
		<ul class="sub-menu">
			<li>
				<a href="about.html" title="">
					<span>
						<span><i class=""></i>О компании</span>
					</span>
				</a>
			</li>
			<li>
				<a href="contacts.html" title="">
					<span>
						<span><i class=""></i>Контакты</span>
					</span>
				</a>
			</li>
		</ul>
	</li>
</ul>

<!--ADDED-->
<div id="mob-menu">
	<ul>
		<li class="active">
			<a href="#"><i class="icon-where-01"></i><span>Куда</span></a>
			<ul>
				<li><a href="where.html">Востояная европа</a></li>
				<li><a href="where.html">Западная европа</a></li>
				<li><a href="where.html">Африка, Индийский океан</a></li>
				<li><a href="where.html">Азия, Ближний Восток</a></li>
				<li><a href="where.html">Новая Зеландия, Австралия, Океания</a></li>
				<li><a href="where.html">Америка, Карибский бассей</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-when-01"></i><span>Когда и зачем</span></a>
			<ul>
				<li><a href="when.html">Январь</a></li>
				<li><a href="when.html">Февраль</a></li>
				<li><a href="when.html">Март</a></li>
				<li><a href="when.html">Апрель</a></li>
				<li><a href="when.html">Май</a></li>
				<li><a href="when.html">Июнь</a></li>
				<li><a href="when.html">Июль</a></li>
				<li><a href="when.html">Август</a></li>
				<li><a href="when.html">Сентябрь</a></li>
				<li><a href="when.html">Октябрь</a></li>
				<li><a href="when.html">Ноябрь</a></li>
				<li><a href="when.html">Декабрь</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-sea"></i><span>по морю</span></a>
			<ul>
				<li><a href="sea.html">Яхты</a></li>
				<li><a href="sea.html">Круизы</a></li>
			</ul>
		</li>
		<li>
			<a href="text.html"><i class="icon-gift"></i><span>путешествие в подарок</span></a>
		</li>
		<li>
			<a href="text.html"><i class="icon-ticket"></i><span>ваш билетик</span></a>
		</li>
		<li>
			<a href="#"><i class="icon-we"></i><span>почему мы?</span></a>
			<ul>
				<li><a href="about.html">О компании</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
		</li>
	</ul>
</div>

<a href="#mob-menu" class="humburger"><span></span></a>