<div class="main-slider js_main-slider">
	<div>
		<img src="../images/main-slider/wall1.jpg" alt="" />
		<div class="slide-content">
			<div>
				<p class="as-h1">Fashion Weeks Spring / Summer 2016</p>
				<p class="slide-text">Хотите воочию увидеть триумф красоты и высокого вкуса? Где традиционно любой показ — это настоящее шоу с продуманным сюжетом и режиссурой. Тогда Вам на Fashion Weeks Spring / Summer 2016.</p>
				<a href="#" class="btn btn-1 js_trigger-read">Узнать расписание</a>
				<p class="slogan"><strong>Путешествуй</strong> легко...</p>
			</div>
		</div>
	</div>
	<div>
		<img src="../images/main-slider/wall2.jpg" alt="" />
		<div class="slide-content">
			<div>
				<p class="as-h1">Fashion Weeks Spring / Summer 2016</p>
				<p class="slide-text">Хотите воочию увидеть триумф красоты и высокого вкуса? Где традиционно любой показ — это настоящее шоу с продуманным сюжетом и режиссурой. Тогда Вам на Fashion Weeks Spring / Summer 2016.</p>
				<a href="#" class="btn btn-1 js_trigger-read">Узнать расписание</a>
				<p class="slogan"><strong>Путешествуй</strong> легко...</p>
			</div>
		</div>
	</div>
	<div>
		<img src="../images/main-slider/wall3.jpg" alt="" />
		<div class="slide-content">
			<div>
				<p class="as-h1">Fashion Weeks Spring / Summer 2016</p>
				<p class="slide-text">Хотите воочию увидеть триумф красоты и высокого вкуса? Где традиционно любой показ — это настоящее шоу с продуманным сюжетом и режиссурой. Тогда Вам на Fashion Weeks Spring / Summer 2016.</p>
				<a href="#" class="btn btn-1 js_trigger-read">Узнать расписание</a>
				<p class="slogan"><strong>Путешествуй</strong> легко...</p>
			</div>
		</div>
	</div>
</div>