<div class="main-full">
	<div class="full-page-slider js_full-slider">
		<div>
			<img src="../images/wall-slider/slide1.jpg" alt="">
		</div>
		<div>
			<img src="../images/wall-slider/slide2.jpg" alt="">
		</div>
		<div>
			<img src="../images/wall-slider/slide3.jpg" alt="">
		</div>
	</div>
	<div class="text-wrapper">
		<div class="table">
			<div class="table-cell">
				<div class="text">
					<h1>яхты</h1>
					<p>Ваша яхта — Ваш собственный мир, где Вы — капитан! С самого начала своего существования, яхты — средство для быстрой перевозки особо важных персон.  Сегодня эти чудесные плавательные средства остаются привилегией сильных мира сего. Однако быстрая перевозка сменилась размеренным плаванием. Главное — получить удовольствие от нахождения в море…</p>
					<p>Морская яхта — удовольствие статусное. И если у Вас нет своей яхты, мы поможем Вам арендовать подходящую, чтобы Вы могли осуществить свою мечту о круизе в полном уединении. </p>
					<p>Ведь будучи на своем корабле, Вы можете сами выбирать маршрут, меняя его в зависимости от Ваших же желаний. Здесь командуете Вы!</p>
				</div>
			</div>
		</div>
	</div>
</div>