<div class="main">
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				<h1>Восточная европа</h1>
				<p>Восточная Европа – колыбель культурных и исторических ценностей многих народов, населяющих эту прекрасную часть планеты. Восточная Европа – колыбель культурных и исторических ценностей многих народов, населяющих эту прекрасную часть планеты.</p>
			</div>
		</div>
	</div>
	<div class="js_wall-slider wall-slider js_get-slide">
		<div><img src="../images/wall-slider/slide1.jpg" alt=""></div>
		<div><img src="../images/wall-slider/slide2.jpg" alt=""></div>
		<div><img src="../images/wall-slider/slide3.jpg" alt=""></div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				<p>Захватывающая дух красота ее мощных густых лесов, как лиственных, так и хвойных, великолепные сверкающие снежные вершины гор, дурманящий запах морей и кристальная чистота рек – все это вызывало и продолжает вызывать неописуемый восторг у всех, кто здесь побывал. Художники и поэты, музыканты и скульпторы – все творческие личности обретают в этих колоритных землях вдохновение и творят, творят, творят…</p>
				<p>Такую чудную природу невозможно не любить, очевидно, что и сам Творец создавал ее с огромной любовью к людям. Решите ли Вы посетить одну из восточноевропейских стран, каждая из которых прекрасна и уникальна в своем роде или захотите отправиться в турне по всей Восточной Европе – ваше путешествие принесет вам массу положительных эмоций.</p>
				<p>Оздоровление всего организма будет обеспечено, да к тому же и новых друзей прибавится – ведь все без исключения народы этих земель славятся своим радушием. Возникшее чувство принадлежности к первозданности чарующей природы уже никогда вас не оставит, и вы захотите приехать в Украину, Россию, Латвию, Грузию, Литву и Эстонию снова, чтобы обновить это ни с чем не сравнимое ощущение.</p>
			</div>
		</div>
	</div>
	<div class="row section-city">
		<div class="large-12 columns">
			<p class="lined-title"><span>ГОРОДА ЭТОГО РЕГИОНА</span></p>
		</div>
	</div>
	<div class="country-selection">
		<div class="counry-slider js_country-slider js_slide-bg">
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Serbia</a>
					</div>
				</div>
				<span class="js_map-point" data-map="RS" data-lan="43.948059" data-lng="20.975584"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Albania</a>
					</div>
				</div>
				<span class="js_map-point" data-map="AL" data-lan="40.897377" data-lng="20.223706"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Austria</a>
					</div>
				</div>
				<span class="js_map-point" data-map="AT"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Azerbaijan</a>
					</div>
				</div>
				<span class="js_map-point" data-map="AZ"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Belarus</a>
					</div>
				</div>
				<span class="js_map-point" data-map="BY"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Ukraine</a>
					</div>
				</div>
				<span class="js_map-point" data-map="UA"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Russia</a>
					</div>
				</div>
				<span class="js_map-point" data-map="RU"><i class="icon-where-01"></i><span>ПОСМОТРЕТЬ НА КАРТЕ</span></span>
			</div>
		</div>
	</div>
	<div class="map-holder" id="map-holder"></div>
	<div class="row">
		<div class="large-12 columns">
			<p class="lined-title"><span>ЧЕТВЕРКА НА ВЫБОР</span></p>
		</div>
	</div>
	<ul class="chose-yours js_chose-section">
		<li>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Латвия</a>
						<p class="block-date"><i class="icon-calendar"></i><span>июль-август</span></p>
						<p class="descr">Латвия – чистая природа, вкусная еда и "Межакакис!"</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Латвия</a>
						<p class="block-date"><i class="icon-calendar"></i><span>июль-август</span></p>
						<p class="descr">Латвия – чистая природа, вкусная еда и "Межакакис!"</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Латвия</a>
						<p class="block-date"><i class="icon-calendar"></i><span>июль-август</span></p>
						<p class="descr">Латвия – чистая природа, вкусная еда и "Межакакис!"</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div>
				<img src="../images/countries-slider/slide-1.jpg" alt="" />
				<div class="table">
					<div class="table-cell">
						<a href="#">Латвия</a>
						<p class="block-date"><i class="icon-calendar"></i><span>июль-август</span></p>
						<p class="descr">Латвия – чистая природа, вкусная еда и "Межакакис!"</p>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>