@font-face {
	font-family: 'family';
	src:url('fonts/family.eot?pcoyvm');
	src:url('fonts/family.eot?pcoyvm#iefix') format('embedded-opentype'),
		url('fonts/family.woff2?pcoyvm') format('woff2'),
		url('fonts/family.ttf?pcoyvm') format('truetype'),
		url('fonts/family.woff?pcoyvm') format('woff'),
		url('fonts/family.svg?pcoyvm#family') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'family';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e819";
}
.icon-calendar:before {
	content: "\e811";
}
.icon-gift:before {
	content: "\e812";
}
.icon-loc:before {
	content: "\e813";
}
.icon-sea:before {
	content: "\e814";
}
.icon-ticket:before {
	content: "\e815";
}
.icon-we:before {
	content: "\e816";
}
.icon-when-01:before {
	content: "\e817";
}
.icon-where-01:before {
	content: "\e818";
}
.icon-arrow_left2:before {
	content: "\e80f";
}
.icon-arrow_right2:before {
	content: "\e810";
}
.icon-facebook:before {
	content: "\e80c";
}
.icon-instagram:before {
	content: "\e80d";
}
.icon-twitter:before {
	content: "\e80e";
}
.icon-april:before {
	content: "\e800";
}
.icon-august:before {
	content: "\e801";
}
.icon-december:before {
	content: "\e802";
}
.icon-february:before {
	content: "\e803";
}
.icon-january:before {
	content: "\e804";
}
.icon-july:before {
	content: "\e805";
}
.icon-june:before {
	content: "\e806";
}
.icon-march:before {
	content: "\e807";
}
.icon-may:before {
	content: "\e808";
}
.icon-november:before {
	content: "\e809";
}
.icon-october:before {
	content: "\e80a";
}
.icon-september:before {
	content: "\e80b";
}

