<div class="aside-panel">
	<a href="index.html" class="logo">
		<img src="../img/logo.svg" alt="" />
	</a>
	<menu id="menu-item">
		<li class="active">
			<a href="#"><i class="icon-where-01"></i><span>Куда</span></a>
			<ul>
				<li><span class="back-trigger"><< НАЗАД</span></li>
				<li><a href="where.html">Востояная европа</a></li>
				<li><a href="where.html">Западная европа</a></li>
				<li><a href="where.html">Африка, Индийский океан</a></li>
				<li><a href="where.html">Азия, Ближний Восток</a></li>
				<li><a href="where.html">Новая Зеландия, Австралия, Океания</a></li>
				<li><a href="where.html">Америка, Карибский бассей</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-when-01"></i><span>Когда и зачем</span></a>
			<ul>
				<li><span class="back-trigger"><< НАЗАД</span></li>
				<li><a href="when.html">Январь</a></li>
				<li><a href="when.html">Февраль</a></li>
				<li><a href="when.html">Март</a></li>
				<li><a href="when.html">Апрель</a></li>
				<li><a href="when.html">Май</a></li>
				<li><a href="when.html">Июнь</a></li>
				<li><a href="when.html">Июль</a></li>
				<li><a href="when.html">Август</a></li>
				<li><a href="when.html">Сентябрь</a></li>
				<li><a href="when.html">Октябрь</a></li>
				<li><a href="when.html">Ноябрь</a></li>
				<li><a href="when.html">Декабрь</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-sea"></i><span>по морю</span></a>
			<ul>
				<li><span class="back-trigger"><< НАЗАД</span></li>
				<li><a href="sea.html">Яхты</a></li>
				<li><a href="sea.html">Круизы</a></li>
			</ul>
		</li>
		<li>
			<a href="text.html"><i class="icon-gift"></i><span>путешествие в подарок</span></a>
		</li>
		<li>
			<a href="text.html"><i class="icon-ticket"></i><span>ваш билетик</span></a>
		</li>
		<li>
			<a href="#"><i class="icon-we"></i><span>почему мы?</span></a>
			<ul>
				<li><span class="back-trigger"><< НАЗАД</span></li>
				<li><a href="about.html">О компании</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
		</li>
	</menu>
	<div class="bottom-controls">
		<ul class="lang-select">
			<li class="active"><span>RU</span></li>
			<li><a href="page404.html">EN</a></li>
		</ul>
		<ul class="socials">
			<li><a href="page403.html"><i class="icon-twitter"></i></a></li>
			<li><a href="#"><i class="icon-instagram"></i></a></li>
			<li><a href="#"><i class="icon-facebook"></i></a></li>
		</ul>
	</div>
</div>
<div class="mob-aside Fixed">
	<a href="#mob-menu" class="humburger"><span></span></a>
	<ul class="lang-select">
		<li class="active"><span>RU</span></li>
		<li><a href="page404.html">EN</a></li>
	</ul>
	<ul class="socials">
		<li><a href="page403.html"><i class="icon-twitter"></i></a></li>
		<li><a href="#"><i class="icon-instagram"></i></a></li>
		<li><a href="#"><i class="icon-facebook"></i></a></li>
	</ul>
</div>
<div id="mob-menu">
	<ul>
		<li class="active">
			<a href="#"><i class="icon-where-01"></i><span>Куда</span></a>
			<ul>
				<li><a href="where.html">Востояная европа</a></li>
				<li><a href="where.html">Западная европа</a></li>
				<li><a href="where.html">Африка, Индийский океан</a></li>
				<li><a href="where.html">Азия, Ближний Восток</a></li>
				<li><a href="where.html">Новая Зеландия, Австралия, Океания</a></li>
				<li><a href="where.html">Америка, Карибский бассей</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-when-01"></i><span>Когда и зачем</span></a>
			<ul>
				<li><a href="when.html">Январь</a></li>
				<li><a href="when.html">Февраль</a></li>
				<li><a href="when.html">Март</a></li>
				<li><a href="when.html">Апрель</a></li>
				<li><a href="when.html">Май</a></li>
				<li><a href="when.html">Июнь</a></li>
				<li><a href="when.html">Июль</a></li>
				<li><a href="when.html">Август</a></li>
				<li><a href="when.html">Сентябрь</a></li>
				<li><a href="when.html">Октябрь</a></li>
				<li><a href="when.html">Ноябрь</a></li>
				<li><a href="when.html">Декабрь</a></li>
			</ul>
		</li>
		<li>
			<a href="#"><i class="icon-sea"></i><span>по морю</span></a>
			<ul>
				<li><a href="sea.html">Яхты</a></li>
				<li><a href="sea.html">Круизы</a></li>
			</ul>
		</li>
		<li>
			<a href="text.html"><i class="icon-gift"></i><span>путешествие в подарок</span></a>
		</li>
		<li>
			<a href="text.html"><i class="icon-ticket"></i><span>ваш билетик</span></a>
		</li>
		<li>
			<a href="#"><i class="icon-we"></i><span>почему мы?</span></a>
			<ul>
				<li><a href="about.html">О компании</a></li>
				<li><a href="contacts.html">Контакты</a></li>
			</ul>
		</li>
	</ul>
</div>