<div class="main">
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				<h1>о нас</h1>
				<p><strong>Давайте знакомиться!</strong></p>
				<p>Семья и все, что с ней связано – это самое важное в жизни каждого человека. Ведь самые теплые отношения связывают именно детей и родителей, братьев, сестер и других близких родственников. И все мы желаем своей семье только самого лучшего, стараясь сделать для ее блага все, что в наших силах. </p>	
				<p>Семейные традиции – это хорошие или трогательные привычки, которые складываются годами, десятилетиями, а иногда веками. Только привычки не одного человека, а целого рода. <br>Семейной традицией становится обычно что-то очень хорошее, что-то, что неизменно приносит радость всем членам семьи. </p>
				<p>Одной из таких хороших традиций во многих семьях стали путешествия, организованные нашей туристической компанией. И это вполне объяснимо. Ведь когда человек впервые обращается за помощью в туристическое агентство, он мало что знает о специфике отдыха в разных странах мира, о возможных трудностях, которые возникают в процессе путешествия… </p>
				<p>Наша задача – обеспечить комфортный отдых, который лучше всего подойдет именно вам, и при этом свести все возможные трудности и непредвиденные обстоятельства на «нет». Обратившись к нам однажды и проведя незабываемый отпуск, роскошный медовый месяц или самые веселые в жизни рождественские праздники со своей семьей, вы вряд ли захотите путешествовать в следующий раз посредством какой-то другой компании. </p>
				<p>Наше туристическое агентство работает с 1995 года, и за это время во многих семьях стало правилом хорошего тона путешествовать с нашей помощью: те, кто пользуется услугами нашей компании вот уже 20 лет, советуют обращаться к нам своим детям. И мы очень рады, что стали одной из добрых традиций у массы прекрасных дружных семей. </p>
				<p>Путешествуйте легко с компанией «Семейные Традиции»!</p>
			</div>
			<p class="lined-title"><span>ПАРТНЕРЫ</span></p>
		</div>
	</div>
	<div class="js_simple-slider partners-slider simple-one">
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par2.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par3.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par4.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par5.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		<div>
			<div class="table">
				<div class="table-cell">
					<div class="img-block">
						<img src="../images/partners/par1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
			<p class="lined-title"><span>НАГРАДЫ</span></p>
		</div>
	</div>
	<div class="js_simple-slider prize-slider simple-one">
		<div>
			<a href="../images/prize/prize1.jpg" class="popup-img">
				<img src="../images/prize/prize1.jpg" alt="">
			</a>
		</div>
		<div>
			<a href="../images/prize/prize2.jpg" class="popup-img">
				<img src="../images/prize/prize2.jpg" alt="">
			</a>
		</div>
		<div>
			<a href="../images/prize/prize3.jpg" class="popup-img">
				<img src="../images/prize/prize3.jpg" alt="">
			</a>
		</div>
		<div>
			<a href="../images/prize/prize4.jpg" class="popup-img">
				<img src="../images/prize/prize4.jpg" alt="">
			</a>
		</div>
		<div>
			<a href="../images/prize/prize5.jpg" class="popup-img">
				<img src="../images/prize/prize5.jpg" alt="">
			</a>
		</div>
		<div>
			<a href="../images/prize/prize1.jpg" class="popup-img">
				<img src="../images/prize/prize1.jpg" alt="">
			</a>
		</div>
	</div>
</div>