<!doctype html>
<html class="no-js">
  <!-- build:section layout.indexHead-->
  <!-- /build -->
  <body>
    <div id="page-preloader"><span class="spinner"></span></div>
    <div class="index-wrapper">
      <!-- build:section layout.indexHeader-->
      <!-- /build -->
      <!-- build:section layout.indexSlider-->
      <!-- /build -->
      <!-- build:section layout.indexMenu-->
      <!-- /build -->
      <!-- build:section layout.indexModal-->
      <!-- /build -->
    </div>
  </body>
</html>