<div class="main">
	<div class="row">
		<div class="large-12 columns">
			<div class="text">
				<h1>январь</h1>
				<p>В начале года одно событие интересней другого, а возможностей для отдыха и революционных перемен множество. Украшенная новогодними огнями, напоенная шампанским, расслабленная рождественскими отпусками, жизнь на земле бурлит весельем. А значит, самое время отправиться в путешествие</p>
			</div>
			<p class="lined-title"><span>МЫ ПРЕДЛАГАЕМ</span></p>
		</div>
	</div>
	<div class="where-togo">
		<div>
			<div class="img-holder js_take-img">
				<img src="../images/wall-slider/slide1.jpg" alt="" />
			</div>
			<div class="row">
				<div class="large-12 columns">
					<a href="#" class="as-h2">Андорра</a>
					<p class="country-slogan">Андорра – маленькое чудо в сердце Пиренеев</p>
					<p class="country-text">Андорра – миниатюрная страна с давней историей. Еще во втором веке до нашей эры о ней упоминалось в латинских хрониках. Расположенная в Пиренеях, чистая и прекрасная Андорра привлекает со всего мира любителей горнолыжных курортов. Причем все отели и базы отдыха заслуживают высшей оценки: комфортабельные номера, внимательное обслуживание, развитая инфраструктура (рестораны, театры, спортивные залы, дискотеки и пр.) – благодаря всему этому вы ощутите себя здесь любимыми и долгожданными гостями.</p>
					<a href="#" class="btn btn-2">хочу туда</a>
				</div>
			</div>
		</div>
		<div>
			<div class="img-holder js_take-img">
				<img src="../images/wall-slider/slide2.jpg" alt="" />
			</div>
			<div class="row">
				<div class="large-12 columns">
					<a href="#" class="as-h2">Андорра</a>
					<p class="country-slogan">Андорра – маленькое чудо в сердце Пиренеев</p>
					<p class="country-text">Андорра – миниатюрная страна с давней историей. Еще во втором веке до нашей эры о ней упоминалось в латинских хрониках. Расположенная в Пиренеях, чистая и прекрасная Андорра привлекает со всего мира любителей горнолыжных курортов. Причем все отели и базы отдыха заслуживают высшей оценки: комфортабельные номера, внимательное обслуживание, развитая инфраструктура (рестораны, театры, спортивные залы, дискотеки и пр.) – благодаря всему этому вы ощутите себя здесь любимыми и долгожданными гостями.</p>
					<a href="#" class="btn btn-2">хочу туда</a>
				</div>
			</div>
		</div>
		<div>
			<div class="img-holder js_take-img">
				<img src="../images/wall-slider/slide3.jpg" alt="" />
			</div>
			<div class="row">
				<div class="large-12 columns">
					<a href="#" class="as-h2">Андорра</a>
					<p class="country-slogan">Андорра – маленькое чудо в сердце Пиренеев</p>
					<p class="country-text">Андорра – миниатюрная страна с давней историей. Еще во втором веке до нашей эры о ней упоминалось в латинских хрониках. Расположенная в Пиренеях, чистая и прекрасная Андорра привлекает со всего мира любителей горнолыжных курортов. Причем все отели и базы отдыха заслуживают высшей оценки: комфортабельные номера, внимательное обслуживание, развитая инфраструктура (рестораны, театры, спортивные залы, дискотеки и пр.) – благодаря всему этому вы ощутите себя здесь любимыми и долгожданными гостями.</p>
					<a href="#" class="btn btn-2">хочу туда</a>
				</div>
			</div>
		</div>
	</div>
</div>